.widget-layout
	.widget-layout-left
		include widgets/explanation.jade
		paleo-pulsor
		paleo-rounds(car-aggregations='carAggregations')

	.widget-layout-center
		paleo-area-graph(cars='cars')
		paleo-tiles

	//.widget-layout-right
