.widget-layout
	.widget-layout-left
		.widget-row
			.widget-col-3
				//include widgets/explanation.jade
				paleo-summary
			.widget-col-1
				paleo-pulsor
		paleo-rounds(car-aggregations='carAggregations')
		paleo-facts(facts='facts')

	.widget-layout-center
		paleo-area-graph(cars='cars')
		paleo-tiles

	//.widget-layout-right
