.widget-container
	h3 Real-time statistics
	.widget
		.w-left
			.graph
		.w-right
			div
				h4.center Actions
				button.btn.btn-block(ng-class='getClass("hour")' ng-click='update("hour")') Last hour
				button.btn.btn-block(ng-class='getClass("six_hours")' ng-click='update("six_hours")') Last 6 hours
				button.btn.btn-block(ng-class='getClass("twelve_hours")' ng-click='update("twelve_hours")') Last 12 hours
				button.btn.btn-block(ng-class='getClass("day")' ng-click='update("day")') Last 24 hours
				button.btn.btn-block(ng-class='getClass("paleo")' ng-click='update("paleo")') All the festival duration
			div
				h4.center Legends
				p #[span.green Green] and #[span.red red] areas show entries and exits over time.
				p The #[span.yellow Yellow] line shows the total number of cars in the parking.
				p The #[span.dark Dark] line shows the difference between entries and exits.
