.widget-container
	h3 Summary

	.widget
		.summary
			p In the context of Paleo festival, we have installed two sensors in a parking to detect the car entries and exits.
			p This page is a visualization of the metrics collected through the time.
