.widget-container
	h3 Entries and exits detections

	.widget.pulsors
		.pulsor-container
			.pulsor-entries.pulsor-anim(ng-class='entriesClass')
		.pulsor-container
			.pulsor-exits.pulsor-anim(ng-class='exitsClass')