.widget-container
	h3 Detections

	.widget.pulsors
		table
			thead
				tr
					th Entries
					th Exits
			tbody
				tr
					td
						.pulsor-container
							.pulsor-entries.pulsor-anim(ng-class='entriesClass')
					td
						.pulsor-container
							.pulsor-exits.pulsor-anim(ng-class='exitsClass')
