.widget-container
	h3 Real-time Notifications

	.widget.pulsors
		table
			thead
				tr
					th Entry
					th Exit
			tbody
				tr
					td
						.pulsor-container
							.pulsor-entries.pulsor-anim(ng-class='entriesClass')
					td
						.pulsor-container
							.pulsor-exits.pulsor-anim(ng-class='exitsClass')
