.widget-container
	h3 Car statistics
	.widget
		//.w-left
		.rounds
		//.w-right
		//	div
		//		h4.center Actions
		//		button.btn.btn-block(ng-class='getClass("hour")' ng-click='update("hour")') Last hour
		//		button.btn.btn-block(ng-class='getClass("six_hours")' ng-click='update("six_hours")') Last 6 hours
		//		button.btn.btn-block(ng-class='getClass("twelve_hours")' ng-click='update("twelve_hours")') Last 12 hours
		//		button.btn.btn-block(ng-class='getClass("day")' ng-click='update("day")') Last 24 hours
		//		button.btn.btn-block(ng-class='getClass("paleo")' ng-click='update("paleo")') All the festival duration
		//	div
		//		h4.center Legends
		//		p Green and red areas shows entries and exits over the time.
		//		p Yellow line shows the total of cars in the parking. Negative total can mean the sensors has not detected exits. The right scale correspond to this line.
		//		p Dark line shows the difference between entries and exits.
