*, *before, *after
  box-sizing border-box

body
  font-family Arial,Verdana,sans-serif
  background-color #1293D2 !important

h1, p
  padding 10px

.center
  text-align center

.layout
  display flex
  flex-direction column

  a
    text-decoration none
    outline none
    color #fff

    &:hover
      color #FFE800

    &:active
      color #FFE800

.layout-header
  flex 1

  .title
    display flex

    .title-center
      margin 0 20px
      flex 1

      p
        padding 0
        margin 0

      p.festival
        font-weight bold
        font-size 36px

      p.dates
        font-weight bold
        margin-top -10px
        font-size 18px

.layout-body
  flex 8

.layout-footer
  flex 1

  p
    text-align center
    font-size 16px

.axis path, .axis line
  fill none
  stroke #000
  shape-rendering crispEdges

.round-axis
  text
    font-size 12px

.axisText
  font-size 1.5em
  font-weight bold

.area1
  fill #4fc55a

.area2
  fill #b92a1e

.line1
  fill none
  stroke #e2b24c
  stroke-width 2px

.line2
  fill none
  stroke #481315
  stroke-width 2px

.widget-layout
  margin 0 10px
  display flex

  .widget-row
    flex-direction row
    display flex

    .widget-col-3
      display flex
      flex 3

    .widget-col-1
      display flex
      flex 1

  .widget-layout-left
    flex 3

  .widget-layout-center
    flex 5

  .widget-layout-right
    flex 1

.widget-container
  border 2px black solid
  background-color #efefef
  flex-direction column
  border-radius 5px
  display flex
  margin 5px


  h3
    border-bottom 1px solid black
    background-color rgba(11, 58, 81, 0.93)
    text-align center
    font-size 1.3em
    padding 10px 0
    color #fff
    margin 0

  .widget
    flex-direction row
    margin-top 5px
    display flex
    padding 10px

    .w-left
      flex 1

    .w-left-2
      flex 2

    .w-left-3
      flex 3

    .w-right
      margin-left 1em
      max-width 250px
      flex 1

      .btn
        width 100%

  p
    padding 0
    margin 0 0 10px

  p:last-of-type
    margin-bottom 0

.graph
  height 0
  padding-top 56.25% /* 450px/850px */
  position relative

  svg
    position absolute
    display block
    height 100%
    width 100%
    left 0
    top 0

.graph-no-data
  font-weight bold
  font-size 20px

span.red
  font-weight bold
  color #b92a1e

span.green
  font-weight bold
  color #4fc55a

span.dark
  font-weight bold
  color #481315

span.yellow
  font-weight bold
  color #e2b24c

table.tiles
  border-collapse separate
  border-spacing 3px
  margin auto

  td, th
    vertical-align middle
    border-radius 4px
    text-align center
    font-size .8em
    padding 2px
    height 28px
    width 28px

  td.tile
    border 1px solid white
    cursor pointer

  td.tile:hover
    border 1px solid black

  td.tile-head
    background-color #eae6d4

  td.tile-row-head
    background-color #eae6d4
    padding 0 5px

.tiles-legend
  border-radius 3px
  line-height 11px
  overflow hidden
  padding 5px 7px
  font-size 11px
  margin auto
  width 192px
  color #777

  ul
    list-style-type none
    padding 0

    li
      margin-right 1px
      height 15px
      width 15px
      float left

  p
    padding 0
    margin 2px 0 0

  .more
    float right

  .less
    float left

.q1
  background #5E4FA2

.q2
  background #3288BD

.q3
  background #66C2A5

.q4
  background #ABDDA4

.q5
  background #E6F598

.q6
  background #f6faaa

.q7
  background #FEE08B

.q8
  background #FDAE61

.q9
  background #F46D43

.q10
  background #D53E4F

.q11
  background #9E0142

.no-data
  background-color #d2d2d2

pulsorBackgroundColor = #efefef
pulsorContainerWidth = 110px
dotMarginFactor = 4
pulsorWidth = 40px
pulsorColors = {
  green: hsl(125, 100%, 55%),
  red: hsl(350, 100%, 55%)
}

.summary
  flex-direction column
  align-self stretch
  display flex

  .summary-buttons
    margin-top 15px
    display flex

    .summary-button
      flex 1

shadow($b, $s, $sm, $c)
  box-shadow: 0 0 8px 6px $c, 0 0 $b $s pulsorBackgroundColor, 0 0 $b $s + $sm $c

.pulsors
  justify-content center
  padding 0 !important
  margin 0 !important
  align-self stretch
  display flex
  //height 100%

  table
    height 100%

    th
      text-align center
      font-weight bold
      font-size 20px

.pulsor-container
  width pulsorContainerWidth
  height pulsorContainerWidth
  padding ((pulsorContainerWidth - pulsorWidth) / 2)px
  margin 5px

  .pulsor-anim
    transition(all 0.2s)
    height pulsorWidth
    width pulsorWidth
    border-radius 50%

    &:nth-child(n+2)
      margin-left: (pulsorWidth * dotMarginFactor)

  .pulsor-entries
    background: lighten(pulsorColors.green, 5%)

  .pulsor-exits
    background: lighten(pulsorColors.red, 5%)

  .pulsor-anim-entries
    animation pulsor-keyframes-1 2s 0s ease-out

  .pulsor-anim-exits
    animation pulsor-keyframes-2 2s 0s ease-out

.rounds
  width 100%

  .axis path, .axis line
    fill none
    stroke #b6b6b6
    shape-rendering crispEdges

  .tick text
    fill #999

  g.journal.active
    cursor pointer

  text.label
    font-weight bold
    font-size 12px
    cursor pointer

  text.value
    font-weight bold
    font-size 12px

.facts
  padding 5px !important
  overflow auto
  display flex

  table
    width 100%

    tr:last-of-type
      border-bottom none

    tr
      border-bottom 1px solid black

      td.col-1
        width 30%

      td.col-2
        width 10%

      td.col-3
        width 10%

      td.col-4
        width 25%

      td.col-5
        width 25%

      td
        padding 3px

      td.facts-separator
        text-align center
        font-weight bold
        font-size 14px

      td.facts-title-label
        vertical-align middle
        font-weight bold
        font-size 15px

      td.facts-label
        vertical-align middle
        font-weight bold
        font-size 14px

      td.facts-label-right
        text-align right

      td.facts-sub-label
        vertical-align middle
        font-weight bold
        font-size 13px

      td.facts-data
        vertical-align middle
        front-weight bold
        text-align right
        font-size 12px


@keyframes pulsor-keyframes-1
  0%
    shadow(0px, 0px, 0px, rgba(pulsorColors.green, 0))
  10%
    shadow(12px, 10px, 4px, pulsorColors.green)
  100%
    shadow(0px, 40px, 0px, rgba(pulsorColors.green, 0))

@keyframes pulsor-keyframes-2
  0%
    shadow(0px, 0px, 0px, rgba(pulsorColors.red, 0))
  10%
    shadow(12px, 10px, 4px, pulsorColors.red)
  100%
    shadow(0px, 40px, 0px, rgba(pulsorColors.red, 0))

@media(max-width 1300px)
  .graph
    text-align center

  .widget-layout
    display flex
    flex-direction column

    .widget-layout-left
      flex 1
      order 1

    .widget-layout-center
      flex 1
      order 3

    .widget-layout-right
      flex 1
      order 2

@media(max-width 920px)
  .widget
    .w-left-tiles
      overflow auto

@media(max-width 800px)
  .widget
    display block !important

    .w-right
      max-width 100% !important
      margin-left 0 !important

  table.tiles
    margin auto

  .pulsors
    flex-direction row !important

    table
      margin auto

@media(max-width 700px)
  .widget-row
    flex-direction column !important

    .widget-col-1
      display block !important

    .widget-col-3
      display block !important

@media(max-width 550px)
  .layout-header
    .title
      .title-center
        p.festival
          font-weight bold
          font-size 27px

        p.dates
          font-weight bold
          margin-top -5px
          font-size 13px

@media(max-width 410px)
  .layout-header
    .title
      .title-center
        p.festival
          font-weight bold
          font-size 18px

        p.dates
          font-weight bold
          margin-top -5px
          font-size 9px

@media(max-width 300px)
  .layout-header
    .title
      height 0 !important
      visibility hidden
