*, *before, *after
  box-sizing border-box

h1, p
  padding 10px

.center
  text-align center

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.axisText
  font-size 1.5em
  font-weight bold;

.area1 {
  fill: #50e25b;
}

.area2 {
  fill: #b92a1e;
}

.line1 {
  fill: none;
  stroke: #4a70e2;
  stroke-width: 1.5px;
}

.line2 {
  fill: none;
  stroke: #481315;
  stroke-width: 1.5px;
}

.widget-layout
  display flex

  .widget-layout-left
    flex 1

  .widget-layout-center
    flex 3

  .widget-layout-right
    flex 1

.widget-container
  border 2px black solid
  flex-direction column
  border-radius 5px
  display flex
  padding 5px
  margin 5px

  h3
    padding 5px 0 10px 0
    text-align center
    margin 0
    border-bottom 1px solid gray

  .widget
    //border 2px black solid
    flex-direction row
    //border-radius 5px
    display flex
    //padding 5px
    //margin 5px
    margin-top 5px

    .w-left
      flex 1

    .w-left-2
      flex 2

    .w-left-3
      flex 3

    .w-right
      margin-left 1em
      max-width 250px
      flex 1

      .btn
        width 100%

.graph
  height 0
  padding-top 58.82% /* 500px/850px */
  position relative

  svg
    position absolute
    display block
    height 100%
    width 100%
    left 0
    top 0

table.tiles
  border-collapse separate
  border-spacing 3px

  td, th
    vertical-align middle
    border-radius 4px
    text-align center
    font-size .8em
    padding 2px
    height 34px
    width 34px

  td.tile
    border 1px solid white
    cursor pointer

  td.tile:hover
    border 1px solid black

  td.tile-head
    background-color #eae6d4

  td.tile-row-head
    background-color #eae6d4

.tiles-legend
  background #F3F3F3 none repeat scroll 0 0
  border 1px solid #F0F0F0
  border-radius 3px
  line-height 11px
  overflow hidden
  padding 5px 7px
  font-size 11px
  margin auto
  width 192px
  color #777

  ul
    list-style-type none
    padding 0

    li
      margin-right 1px
      height 15px
      width 15px
      float left

  p
    padding 0
    margin 2px 0 0

  .more
    float right

  .less
    float left

.q1
  background #5E4FA2

.q2
  background #3288BD

.q3
  background #66C2A5

.q4
  background #ABDDA4

.q5
  background #E6F598

.q6
  background #f6faaa

.q7
  background #FEE08B

.q8
  background #FDAE61

.q9
  background #F46D43

.q10
  background #D53E4F

.q11
  background #9E0142

.no-data
  background-color #d2d2d2

//.pulsor-widget
//  border 2px black solid
//  border-radius 5px
//  padding 5px
//  margin 5px
//
//  h3
//    border-bottom 1px solid gray
//    padding 5px 0 10px 0
//    text-align center
//    margin 0 0 5px

pulsorBackgroundColor = #fff
pulsorContainerWidth = 110px
dotMarginFactor = 4
pulsorWidth = 40px
pulsorColors = {
  green: hsl(125, 100%, 55%),
  red: hsl(350, 100%, 55%)
}

shadow($b, $s, $sm, $c)
  box-shadow: 0 0 8px 6px $c, 0 0 $b $s pulsorBackgroundColor, 0 0 $b $s + $sm $c

.pulsors
  justify-content center
  margin-top 5px
  display flex

.pulsor-container
  width pulsorContainerWidth
  height pulsorContainerWidth
  padding ((pulsorContainerWidth - pulsorWidth) / 2)px
  //display flex
  //float left

  .pulsor-anim
    border-radius: 50%
    transition(all 0.2s)
    cursor: pointer
    height: pulsorWidth
    width: pulsorWidth

    &:nth-child(n+2)
      margin-left: (pulsorWidth * dotMarginFactor)

  .pulsor-entries
    background: lighten(pulsorColors.green, 5%)

  .pulsor-exits
    background: lighten(pulsorColors.red, 5%)

  .pulsor-anim-entries
    animation pulsor-keyframes-1 2s 0s ease-out

  .pulsor-anim-exits
    animation pulsor-keyframes-2 2s 0s ease-out

@keyframes pulsor-keyframes-1
  0%
    shadow(0px, 0px, 0px, rgba(pulsorColors.green, 0))
  10%
    shadow(12px, 10px, 4px, pulsorColors.green)
  100%
    shadow(0px, 40px, 0px, rgba(pulsorColors.green, 0))

@keyframes pulsor-keyframes-2
  0%
    shadow(0px, 0px, 0px, rgba(pulsorColors.red, 0))
  10%
    shadow(12px, 10px, 4px, pulsorColors.red)
  100%
    shadow(0px, 40px, 0px, rgba(pulsorColors.red, 0))

//for $i in (0)..(($n) - 1)
//  $c = hsl($hsl[$i] + 10 * $i, 100%, 55%)
//  $c2 = hsl(6 * $i, 100%, 55%)
//
//  .pulsor-anim:nth-child({$i + 1})
//    background: lighten($c, 5%)
//    animation r+$i 2s ($i/4)s ease-out

  //@keyframes r2{$i}
  //  from
  //    shadow(12px,10px,4px,$c2)
  //  to
  //    shadow(4px,40px,1px,rgba($c2,0))


@media(max-width 1210px)
  .graph
    text-align center

  .widget-layout
    display flex
    flex-direction column

    .widget-layout-left
      flex 1
      order 1

    .widget-layout-center
      flex 1
      order 3

    .widget-layout-right
      flex 1
      order 2

  .widget
    flex-direction column !important
    justify-content center

    .w-right
      max-width 100% !important
      margin-left 0 !important

  table.tiles
    margin auto

  .pulsors
    flex-direction row !important